.review-input {
  border-radius: 4px;
  height: 55px;
}

.btn-review {
  font-size: 1.2em;
  font-weight: bold;
  background: #ffc700;
  border-radius: 4px;
  width: 100%;
  height: 55px;
}

.detail-review {
  padding: 14px;
  background: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.button-review {
  padding: 5px;
  display: flex;
  background: #ffc700;
  border-radius: 4px;
  height: 50px;
  justify-content: center;
}

.button-review h2 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}


@media (min-width: 768px) {
  .detail-review {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .button-review {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (min-width: 1200px) {
  .button-review {
    width: 500px;
  }

  .button-review h2 {
    font-size: 25px;
  }
}

@media (min-width: 1400px) {
  .button-review {
    width: 700px;
  }
}
