.home-details-movie {
  padding: 10px;
}

.home-details-movie h1 {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-top: 5px;
  padding-bottom: 20px;
}

@media (min-width: 1200px) {
  .home-details-movie {
    padding: 40px 20px;
  }

  .home-details-movie h1 {
    font-size: 46px;
  }
}

@media (min-width: 1400px) {
  .home-details-movie {
    padding: 40px 140px;
  }
}

@media (min-width: 1920px) {
  .home-details-movie {
    padding: 40px 400px;
  }
}

@media (min-width: 2080px) {
  .home-details-movie {
    padding: 40px 640px;
  }
}
