.catalog-container {
  padding: 18px;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .catalog-container {
    padding: 48px;
  }

  .catalog-container h1 {
    font-size: 48px;
    line-height: 65px;
  }
}

@media (min-width: 1200px) {
  .catalog-title-container h1 {
    font-size: 40px;
  }
}
